<header id="header">
    <div class="container">
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="@Url.Action("Add","WeeklyMenu")">Weekly Menu</a>
            <a href="@Url.Action("Index","Menu")">Menu</a>
            <a href="@Url.Action("Index","FoodItem")">Food Items</a>



        </div>
        <span onclick="openNav()" class="pull-right menu-icon">☰</span>
    </div>
</header>
